body{
font-family:Arial;
background:linear-gradient(120deg,#ff6a00,#ffb347);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-container{
background:white;
padding:40px;
border-radius:10px;
width:300px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
padding:10px;
width:100%;
background:#ff5722;
border:none;
color:white;
cursor:pointer;
}

.hidden{
display:none;
}